{% include ('header.html.twig') %}

<section>
    <div class="container">
        <div class="row">
            {{ include ('profile/leftSideBar.html.twig') }}
            <div class="col-sm-9 padding-right">
                <div class="signup-form"><!--sign up form-->
                        <h2>Редактирование личных данных</h2>
                        <h5>Заполните пожалуйста форму</h5>
                            {{ form_start(form) }}
                            {{ form_errors(form) }}

                            <div>
                                {{ form_label(form.name) }}
                                {{ form_errors(form.name) }}
                                {{ form_widget(form.name) }}
                            </div>
                            <div>
                                {{ form_label(form.surname) }}
                                {{ form_errors(form.surname) }}
                                {{ form_widget(form.surname) }}
                            </div>
                            <div>
                                {{ form_label(form.country) }}
                                {{ form_errors(form.country) }}
                                {{ form_widget(form.country) }}
                            </div>
                            <div>
                                {{ form_label(form.birthday) }}
                                {{ form_errors(form.birthday) }}
                                {{ form_widget(form.birthday) }}
                            </div>
                            <div>
                                {{ form_label(form.sex) }}
                                {{ form_errors(form.sex) }}
                                {{ form_widget(form.sex) }}
                            </div>
                            <div>
                                {{ form_widget(form.save) }}
                            </div>

                            {{ form_end(form) }}
                    </div><!--/sign up form-->
            </div>
        </div>
    </div>
</section>
                    
{% include ('footer.html.twig') %}