{% include "header.html.twig" %}
<section>
    <div class="container">
        <div class="row">
            
            <div class="col-sm-4 col-sm-offset-4 padding-right">
                {% block fos_user_content %}
                {{ include('@FOSUser/Security/login_content.html.twig') }}
                {% endblock fos_user_content %}
            
                <br>
                <p>Нет аккаунта? Нажмите 
                   <a href="{{ path('registration_step_one') }}" class="btn btn-default">ТУТ</a>
                </p>
                <br>
            </div>
        </div>
    </div>
</section>

{% block footer %}
{% include "footer.html.twig" %}
{% endblock footer %}

