
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
 <div class="signup-form"><!--sign up form-->
<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <label for="username">{{ 'Веедите ваш email или номер телефона'|trans }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

    <label for="password">{{ 'Ваш пароль'|trans }}</label>
    <input type="password" id="password" name="_password" required="required" />
    <label for="remember_me">{{ 'Запомнить'|trans }}</label>
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />


    <input type="submit" id="_submit" name="_submit" value="{{ 'Войти'|trans }}" />
</form>
</div><!--/sign up form-->

