{% include ('header.html.twig') %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 padding-right">
                <div class="signup-form"><!--sign up form-->
                        <h2>Регистрация</h2>
                        <h2>{{ errors }}</h2>
                            {{ form_start(formPassword) }}
                            {{ form_errors(formPassword) }}
                            {{ form_widget(formPassword) }}

                            {{ form_end(formPassword) }}

                    </div><!--/sign up form-->
            </div>
        </div>
    </div>
</section>
                    
{% include ('footer.html.twig') %}