{% include ('header.html.twig') %}

<section>
    <div class="container">
        <div class="row">
                <h2>Поздравлем!!! Ваша регистрация прошла успешно! 
                    Администрация сайта благодарит Вас за выбор нашего сервиса
                </h2>
                <h5>Для безопастности Вашего аккаунта для работы с нашим ресурсом Вам необходимо совершить
                    <span><a href="{{ path('fos_user_security_login') }}">ВХОД</a></span> в учетную запись
                </h5>
        </div>
    </div>
</section>
                    
{% include ('footer.html.twig') %}